# build files
**/build/
**/cmake-build*/
sdkconfig
*cache*
sdkconfig.old

# IDEs
**/.idea/
*.log
/examples/node_first/.vscode/c_cpp_properties.json
/examples/node_second/.vscode/c_cpp_properties.json
